.jsonschema-inner {
	.buttons {
		z-index: 100;
		@media all and (min-width: (@max-width)) {
			left: calc(~"(100vw/2) + " (@max-width/2) ~"- 260px");
		}
		@media all and (min-width: (@device-width-medium )) {
			position: fixed;
			bottom: 0px;
			width: 200px;
			right: 60px;
			button {
				height: @navigation-height;
			}
		}
		@media all and (max-width: (@max-width)) {
			left: auto;
		}
	}
}
.jsonschema-component {
	overflow-y: hidden;
    @media all and (max-width: (@device-width-medium )) {
    	width: 94%;
    	margin: 20px;
    	height: auto;
    }
}