@media all and (max-width: (@device-width-medium )) {
	.component {
		height: auto;
		overflow-y: hidden;
	}
	.article {
		overflow-y: auto;
	}
}
@media (min-width: 760px) {
	.component-left .component-inner {
		&.text-inner {
			max-width: 32em;
    		margin-left: auto;
    		margin-right: auto;
    		padding-top: 3em;
		}
	}
	.component .component-inner {
		&.graphic-inner {
			padding-top: 3em;
			text-align: center;
			img {
				max-width: 80%;
			}
		}
	}
}
table {
	td {
		padding: 3px;
	}
}